.container{
    display: flex;
    /* align-items: center; */
    width: 80px;
}
.btn{
    /* display: flex;
    align-items: center; */
    width: 100%;
    height: 40px;
    padding: 10px 2px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
}